/*generics*/
.navbar-brand img{
    width: 50px;
}

.col{
    min-height: 25px;
}


/*layout*/

/*color*/


/*bg*/
.bg-header{
    background-color: #27292C;
}
.bg-li-odd{
    background-color:#EFEFF0;
}

/*btn*/

/*utilities*/

/* .container *{
    border: 1px dashed green;
}
 */

