/*generics*/
.navbar-brand img{
    width: 50px;
} 

/*bg*/
.bg-header{
    background-color: #27292C;
}

/* form form.html */
form textarea{
    resize: none;
}

/* hover btn li */
#top-main-card li button:hover{
    background-color: #22222270 !important;
    border-color:#555 !important
}

